<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>NeuroFile.iDoc.watchkitapp</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>iDoc Watch App</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>WKAppBundleIdentifier</key>
    <string>NeuroFile.iDoc.watchkitapp</string>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>NeuroFile.iDoc</string>
    <key>NSHealthShareUsageDescription</key>
    <string>This app requires access to your heart rate data.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app requires access to update health data.</string>
</dict>
</plist>
